.nav-pills .nav-link {
  background-color: transparent !important;
  color: #ffffff !important;
  border-radius: 0.5rem; 
}

.nav-pills .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1) !important; /* hover effect */
  color: #ffffff;
}

.nav-pills .nav-link.active {
  background-color: transparent !important;
  color: #ffffff !important;
  box-shadow: none;
}

.navbar{
    background-color: transparent !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar.bg-light {
  background-color: transparent !important;
}

.icon-link {
  color:#ffffff !important;
  padding: 0.5rem 0.75rem !important;
  transition: all 0.3s ease;
}

.icon-link:hover{
  color: rgba(255, 255, 255, 0.8) !important;
  transform: scale(1,1) 
}

.icon-link i {
    color: white !important; 
    font-size: 1.5rem; 
    transition: all 0.2s ease;
}

.icon-link:hover i {
    color: rgba(255, 255, 255, 0.8) !important;
    transform: scale(1.1);
}

body {
    background: linear-gradient(135deg, #2c3e50, #3498db);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  